@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 6%;
  --foreground: 210 40% 96.1%;
  --card: 224 43% 8%;
  --card-foreground: 210 40% 98%;
  --primary: 204 100% 62%;
  --primary-foreground: 224 71% 4%;
  --muted: 217 33% 17%;
  --muted-foreground: 215 20% 65%;
  --accent: 217 33% 17%;
  --accent-foreground: 210 40% 96.1%;
  --destructive: 0 62% 35%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 33% 18%;
  --input: 217 33% 18%;
  --ring: 199 89% 48%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
